/* #region Containers */
    #main-container{
        max-width:1008px;
        min-height:300px;
        margin: 0 auto;
        background-color: whitesmoke;
        border-radius: .75rem;
    }
    #medium-container{
        max-width:808px;
        margin: 0 auto;
        background-color: whitesmoke;
        border-radius: .75rem;
    }
    #small-container{
        max-width:608px;
        margin: 0 auto;
        background-color: whitesmoke;
        border-radius: .75rem;
    }
/* #endregion */


/* #region Media Queries */
    @media (max-width: 991px){
        #main-container {
            margin-left: 10px;
            margin-right: 10px;
        }
        #medium-container {
            margin-left: 10px;
            margin-right: 10px;
        }
        #small-container {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
/* #endregion */


/* #region HTML Tags */
/* h4{
    padding-left:20px;
} */
/* #endregion */

/* #region Classes */
.padding-lr-sm{
    margin-left:20px;
    margin-right:20px;
}
.input-group>.input-group-prepend {
    flex: 0 0 15%;
}
.input-group .input-group-text {
    width: 100%;
}

/* #endregion */